<div class="main-wrapper account-page">
    <div class="login-wrapper">
        <div class="content w-100">
            <!-- Login Content -->
            <div class="account-content">
                <div class="align-items-center justify-content-center">
                    <div class="login-right">
                        <div class="login-header text-center">
                            <a [routerLink]="routes.home"><img src="assets/img/logo.png" alt="logo" class="img-fluid"></a>
                            <h3>We love to see you joining our community</h3>
                        </div>
                        <div class="tab-content pt-0">
                            <div role="tabpanel" id="developer" class="tab-pane fade active show">
                                <form (ngSubmit)="register()" [formGroup]="registrationform">										
                                    <div class="input-block">
                                        <label for="name" class="focus-label">User Name <span class="label-star"> *</span></label>
                                        <input type="text" class="form-control floating" formControlName="name" id="name" (keyup)="validateName()">
                                        <div *ngIf="registrationform.get('name')?.invalid && (registrationform.get('name')?.dirty || registrationform.get('name')?.touched)">
                                          <div *ngIf="registrationform.get('name')?.hasError('required')" style="color: red;">Username is required</div>
                                          <div *ngIf="registrationform.get('name')?.hasError('minlength')" style="color: red;">Username must be at least 4 characters long</div>
                                          <div *ngIf="registrationform.get('name')?.hasError('pattern')" style="color: red;">Username must contain at least one uppercase letter, one lowercase letter, one number, and one special character</div>
                                        </div>
                                      </div>
                                      
                                    <div class="input-block">
                                        <label for="email" class="focus-label">Email Address<span class="label-star"> *</span></label>
                                        <input type="email" class="form-control floating" formControlName="email" id="email" (keyup)="validateEmail()">
                                        <div *ngIf="registrationform.get('email')?.invalid && (registrationform.get('email')?.dirty || registrationform.get('email')?.touched)">
                                            <div *ngIf="registrationform.get('email')?.hasError('required')" style="color: red;">Email is required</div>
                                            <div *ngIf="registrationform.get('email')?.hasError('email')" style="color: red;">Invalid email format</div>
                                        </div>
                                    </div>
                                    <div class="input-block">
                                        <label for="password" class="focus-label">Password <span class="label-star"> *</span></label>
                                        <div class="position-relative">
                                            <input [type]="hidePassword[1] ? 'text' : 'password'" type="password" class="form-control floating pass-input" formControlName="password" id="password" (keyup)="validatePassword()">
                                            <div class="password-icon" (click)="togglePassword(1)" (keydown.enter)="togglePassword(1)" tabindex="0">
                                                <span class="fas toggle-password" [ngClass]="hidePassword[1] ? 'fa-eye' : 'fa-eye-slash'"></span>
                                            </div>
                                        </div>
                                        <div *ngIf="registrationform.get('password')?.invalid && (registrationform.get('password')?.dirty || registrationform.get('password')?.touched)">
                                            <div *ngIf="registrationform.get('password')?.hasError('required')" style="color: red;">Password is required</div>
                                            <div *ngIf="registrationform.get('password')?.hasError('minlength')" style="color: red;">Password must be at least 8 characters long</div>
                                            <div *ngIf="registrationform.get('password')?.hasError('pattern')" style="color: red;">Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character</div>
                                        </div>
                                    </div>
                                    
                                    <div class="dont-have">
                                        <label class="custom_check">
                                            <input type="checkbox" formControlName="terms" name="rem_password">
                                            <span class="checkmark"></span> I have read and agree to all <a [routerLink]="routes.termscondition">Terms &amp; Conditions</a>
                                        </label>
                                        <div *ngIf="registrationform.get('terms')?.invalid && (registrationform.get('terms')?.dirty || registrationform.get('terms')?.touched)">
                                            <div *ngIf="registrationform.get('terms')?.hasError('required')" style="color: red;">Please accept terms & conditions</div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary w-100 btn-lg login-btn d-flex align-items-center justify-content-center"  href="#otp" data-bs-toggle="modal" type="submit" [disabled]="registrationform.invalid">Sign Up Now<i class="feather icon-arrow-right ms-2"></i></button>
                                    <div class="row">
                                        <div class="col-sm-8 dont-have d-flex align-items-center">Already have an account <a [routerLink]="routes.login" class="ms-2">Sign in?</a></div>
                                    </div>
                                </form>
                            </div>
                        </div>		
                    </div>
                </div>
            </div>
        </div>	
    </div>
</div>

<div class="modal fade success-modal hire-modal" id="otp" (shown.bs.modal)="onModalShown()" [class.show]="emailExists">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body pt-4">
                <div class="success-msg-content text-center">
                    <p *ngIf="emailExists">Email Already Exists, please try with another email</p>
                    <h4 *ngIf="!emailExists">One Time Password</h4>
                    <p *ngIf="!emailExists">Otp has been sent to registered Email...!! Please Check Your Inbox.</p>
                    <a *ngIf="!emailExists" href="javascript:void(0);" data-bs-dismiss="modal" (click)="navigation()" class="btn btn-primary mt-3">Okay</a>
                    <a *ngIf="emailExists" href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary mt-3">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>