<h1>messages</h1>
<div class="message-container" >
  <div style="background-color:#E65425;">
    <div *ngIf="isLoading">
      <p>Loading...</p>
    </div>
    <div *ngIf="!isLoading">
      <div class="profile-info">
        <div *ngIf="photoUrl">
          <img [src]="photoUrl" alt="Profile Image" class="avatar-lg rounded-circle">
        </div>
        <div *ngIf="!photoUrl">
          <p>No photo found.</p>
        </div>
        <div>
          <h3 style="color: whitesmoke;">{{ name }}</h3>
        </div>
      </div>
    </div>
  </div>
  
    				  
    <div *ngFor="let message of messages" [ngClass]="{'right': message.side === 'right', 'left': message.side === 'left'}" class="message">
      
      <p>{{ message.content }}</p>
      <!-- <p>{{ message.timestamp }}</p> -->
      <p class="timestamp">{{ formatTimestamp(message.timestamp) }}</p> 
    </div>
  </div>
  
<!-- <form (ngSubmit)="sendMessage()">
    
    <textarea id="content" name="content" [(ngModel)]="newMessage.content"></textarea><br>
    <button type="submit">Send Message</button>
  </form> -->
  <form (ngSubmit)="sendMessage()" style="display: flex; align-items: center;">
    <textarea id="content" name="content" [(ngModel)]="newMessage.content" style="flex: 1;"></textarea>
    <button type="submit" style="top: 90px;">Send</button>
</form>


<!-- 
  <div class="additional-container">
    <div *ngFor="let user of users" class="chat-bubble" (click)="printUserDetails(user)" (keydown.enter)="printUserDetails(user)" tabindex="0">
      <div class="user-info-container">
   
        <div *ngIf="user.email && photoUrls[user.email]" class="user-photo-container">
          <img [src]="photoUrls[user.email]" alt="User Photo" class="user-photo">
        </div>
    
        <div *ngIf="user.email && !photoUrls[user.email]" class="user-photo-container">
          <p>No photo found.</p>
        </div>
        
        <div class="sender" >{{ user.name }}</div>
      </div>
    </div>
  </div>
   -->











   <div class="additional-container">
    <div *ngFor="let user of users" class="chat-bubble" (click)="printUserDetails(user)" (keydown.enter)="printUserDetails(user)" tabindex="0">
      <div class="user-info-container">
        <div *ngIf="user.email && photoUrls[user.email]" class="user-photo-container">
          <img [src]="photoUrls[user.email]" alt="User Photo" class="user-photo">
        </div>
        <div *ngIf="user.email && !photoUrls[user.email]" class="user-photo-container">
          <p>No photo found.</p>
        </div>
        <div class="sender">{{ user.name }}</div>
        <!-- <div *ngIf="user.messageCount !== undefined" class="message-count"  style="background-color: #b62282;"> {{ user.messageCount }}</div> -->
        <div *ngIf="user.messageCount !== undefined && user.messageCount !== 0" class="message-count" style="background-color: #f34522; bottom: 10px;left: 10px; color: white;">{{ user.messageCount }}</div>
      </div>
    </div>
  </div>
  
  
 
  
