
<div class="main-wrapper account-page">
    <div class="login-wrapper">
        <div class="content">
            <div class="container">					
                <!-- Login Content -->
                <div class="account-content">
                    <div class="align-items-center justify-content-center">
                        <div class="login-right">
                            <div class="login-header text-center">
                                <h2>Forgot Password</h2>
                                <h3>Please enter your email address</h3>
                            </div>
                            <form (ngSubmit)="sendOTP()" [formGroup]="registrationform">
                                <div class="input-block">
                                    <label for="email" class="focus-label">Email Address <span class="label-star"> *</span></label>
                                    <input type="email" class="form-control" formControlName="email" id="email">
                                </div>										
                                <button class="btn btn-primary w-100 btn-lg login-btn d-flex align-items-center justify-content-center mb-4"  href="#otp" data-bs-toggle="modal" type="submit">Send Now<i class="feather icon-arrow-right ms-2"></i></button>
                                <div class="row">
                                    <div class="col-sm-8 dont-have d-flex mt-0  align-items-center">Remember Password<a [routerLink] = "routes.login" class="ms-2">Sign in?</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Login Content -->
            </div>
        </div>		
    </div>			
</div>
<div class="modal fade success-modal hire-modal" id="otp" (shown.bs.modal)="onModalShown()" [class.show]="emailExists">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body pt-4">
                <div class="success-msg-content text-center">
                    <h4 *ngIf="emailExists" >One Time Password</h4>
                    <p *ngIf="emailExists">Otp has been sent to registered Email...!! Please Check Your Inbox.</p>
                    <a *ngIf="emailExists" href="javascript:void(0);" data-bs-dismiss="modal" (click)="navigation()" class="btn btn-primary mt-3">Okay</a>
                    <p *ngIf="!emailExists">Email is not Registered..!!!</p>
                    <a *ngIf="!emailExists" href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary mt-3">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>

