<form [formGroup]="skillsForm" (ngSubmit)="submitForm()">
    <div formArrayName="skills">
      <div *ngFor="let skill of skills.controls; let i = index" [formGroupName]="i">
        <div class="row">
          <div class="col-md-6">
            <label for="skill{{i}}">Skill</label>
            <input type="text" id="skill{{i}}" formControlName="skill" class="form-control" />
          </div>
          <div class="col-md-5">
            <label for="level{{i}}">Level</label>
            <input type="text" id="level{{i}}" formControlName="level" class="form-control" />
          </div>
          <div class="col-md-1">
            <button type="button" (click)="removeSkill(i)" class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="addSkill()" class="btn btn-primary mt-3">Add Skill</button>
    <button type="submit" class="btn btn-success mt-3">Submit</button>
  </form>