<div class="dashboard-sec freelance-favourites">
    <div class="page-title">
        <h3>Reviews</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="review-card">
                <h5>Fast and clear.</h5>
                <p>Fast and clear. European visual concepts. Easy to communicate TOP</p>
                <div class="reviewer-details-block">
                    <div class="reviewer-img">
                        <img src="assets/img/user/avatar-10.jpg" class="img-fluid" alt="Img">
                    </div>
                    <div class="reviewer-details">
                        <h6>Theresa Phillips</h6>
                        <div class="d-flex">
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="average-rating">4</span>
                            </div>
                            <div class="reviewer-log">
                                <i class="feather icon-calendar"></i><span>Just now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-card">
                <h5>This seller was great overall.</h5>
                <p>This seller was great overall. One thing I noticed was that there was one logo out of
                    the 4 I got that stood out amongst the others. Now I loved that one logo but the
                    other ones did not look like much thought were put into them and they were a little
                    disappointing. It is understandable for the price for them to only put effort into
                    one logo, which like I said I loved. I think it would be better to tell this seller
                    to make one good logo and to provide 3 other logos that work off the one good logo.
                    Maybe make that one good logo and then change colors and fonts for the other 3. But
                    overall this seller was great!</p>
                <div class="reviewer-details-block">
                    <div class="reviewer-img">
                        <img src="assets/img/user/avatar-11.jpg" class="img-fluid" alt="Img">
                    </div>
                    <div class="reviewer-details">
                        <h6>Amy Stratton</h6>
                        <div class="d-flex">
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <span class="average-rating">5</span>
                            </div>
                            <div class="reviewer-log">
                                <i class="feather icon-calendar"></i><span>1 min ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-card">
                <h5>Great help given and work</h5>
                <p>Great help given and work was done as asked on time! :)</p>
                <div class="reviewer-details-block">
                    <div class="reviewer-img">
                        <img src="assets/img/user/avatar-2.jpg" class="img-fluid" alt="Img">
                    </div>
                    <div class="reviewer-details">
                        <h6>Henry Munford</h6>
                        <div class="d-flex">
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <span class="average-rating">5</span>
                            </div>
                            <div class="reviewer-log">
                                <i class="feather icon-calendar"></i><span>25 mins ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-card">
                <h5>very quick & smart.</h5>
                <p>very quick & smart. Recommend him for any web related work</p>
                <div class="reviewer-details-block">
                    <div class="reviewer-img">
                        <img src="assets/img/user/avatar-12.jpg" class="img-fluid" alt="Img">
                    </div>
                    <div class="reviewer-details">
                        <h6>Barbara McDonald</h6>
                        <div class="d-flex">
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <span class="average-rating">5</span>
                            </div>
                            <div class="reviewer-log">
                                <i class="feather icon-calendar"></i><span>1 hour ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-card">
                <h5>They delivered great work! The delivery was prompt and the communication was
                    excellent.</h5>
                <p>They delivered great work! The delivery was prompt and the communication was
                    excellent. I will be using them in the future and recommend them to anyone who needs
                    their services!</p>
                <div class="reviewer-details-block">
                    <div class="reviewer-img">
                        <img src="assets/img/user/avatar-4.jpg" class="img-fluid" alt="Img">
                    </div>
                    <div class="reviewer-details">
                        <h6>Tyler Lewis</h6>
                        <div class="d-flex">
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <span class="average-rating">5</span>
                            </div>
                            <div class="reviewer-log">
                                <i class="feather icon-calendar"></i><span>5 hours ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="paginations list-pagination">
                <li class="page-item"><a href="javascript:void(0);"><i class="feather icon-chevron-left"></i></a>
                </li>
                <li class="page-item"><a href="javascript:void(0);" class="active">1</a></li>
                <li class="page-item"><a href="javascript:void(0);">2</a></li>
                <li class="page-item"><a href="javascript:void(0);">3</a></li>
                <li class="page-item"><a href="javascript:void(0);">...</a></li>
                <li class="page-item"><a href="javascript:void(0);">10</a></li>
                <li class="page-item"><a href="javascript:void(0);"><i class="feather icon-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>


</div>
<!-- project list -->
<!-- /Page Content -->

<!-- The Modal -->
<div class="modal fade" id="bookmark">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">INVITE FREELANCER</h4>
                <span class="modal-close"><a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                            class="far fa-times-circle orange-text"></i></a></span>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="modal-info">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="average-bids">
                                    <p>Contact <span class="text-highlight">John Doe </span> about your Project</p>
                                </div>
                                <div class="input-block">
                                    <label for="invite-title" class="form-label">Invite title</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-block">
                                    <label for="msg" class="form-label">Send a private message</label>
                                    <textarea class="form-control"
                                        rows="5">Hi  John Doe, I noticed your profile and would like to offer you my project. We can discuss any details over chat.</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-block">
                                    <label for="hire" class="form-label">Hire for</label>
                                    <div class="radio">
                                        <label class="custom_radio">
                                            <input type="radio" value="fix" name="fix" checked>
                                            <span class="checkmark"></span> Fixed Price
                                        </label>
                                        <label class="custom_radio">
                                            <input type="radio" value="fix" name="fix">
                                            <span class="checkmark"></span> Hourly Rate
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-block">
                                    <label for="hire" class="form-label">Hire for</label>
                                    <div class="radio">
                                        <label class="custom_radio">
                                            <input type="radio" value="fix" name="fix">
                                            <span class="checkmark"></span> Fixed Price
                                        </label>
                                        <label class="custom_radio">
                                            <input type="radio" value="fix" name="fix">
                                            <span class="checkmark"></span> Hourly Rate
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-block">
                                    <label for="budget" class="form-label">Budget</label>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="input-group">
                                                <div class="input-group-prepend bg-pink">
                                                    <span class="input-group-text" id="basic-add">$</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="20.00">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control select">
                                                <option value="0">USD</option>
                                                <option value="0">USD</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-block">
                                    <label for="budget" class="form-label">Budget</label>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="input-group form-inline">
                                                <div class="input-group-prepend bg-pink">
                                                    <span class="input-group-text" id="basic-addon">$</span>
                                                </div>
                                                <input type="text" class="form-control me-1" placeholder="20.00"> <label
                                                    class="form-label" for="hr">/ hr</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control select">
                                                <option value="0">USD</option>
                                                <option value="0">USD</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-block">
                                    <label class="form-label" for="project">Project</label>
                                    <select class="form-control select">
                                        <option value="0">3D Renders and Amazon Product Store images/Video</option>
                                        <option value="0">3D Renders and Amazon Product Store Video</option>
                                        <option value="0">3D Renders and Amazon Product Store images</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section text-end">
                        <button type="submit" class="btn btn-primary submit-btn">Send Invite</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /The Modal -->

<!-- The Modal -->
<div class="modal fade" id="rating">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header d-block b-0 pb-0">
                <span class="modal-close float-end"><a href="javascript:void(0);" data-bs-dismiss="modal"
                        aria-label="Close"><i class="far fa-times-circle orange-text"></i></a></span>
            </div>
            <div class="modal-body">
                <form>
                    <div class="modal-info">
                        <div class="text-center pt-0 mb-5">
                            <h3>Please login to Favourite Freelancers</h3>
                        </div>
                        <div class="submit-section text-center">
                            <button data-bs-dismiss="modal" class="btn btn-primary black-btn click-btn">Cancel</button>
                            <button type="submit" (click)="navigation()" (keydown.enter)="navigation()" tabindex="0" class="btn btn-primary click-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /The Modal -->