<div class="container">
    <div class="page-title portfolio-title">
        <h3 class="mb-0">Freelancer Plan & Billing</h3>
    </div>
    <div class="plan-billing-section">
        <div class="row row-gap">
            <div class="col-xl-4 col-md-6">
                <div class="package-detail">
                    <h4>Basic Plan</h4>
                    <p>Go Pro, Best for the individuals</p>
                    <h3 class="package-price">$19.00 <span>/ Month</span></h3>
                    <div class="package-feature">
                        <ul>
                            <li>12 Project Credits</li>
                            <li>10 Allowed Services</li>
                            <li>20 Days visibility</li>
                            <li>5 Featured Services</li>
                            <li>20 Days visibility</li>
                            <li>30 Days Package Expiry</li>
                            <li class="non-check">Profile Featured</li>
                        </ul>
                    </div>
                    <!-- <a href="#payout_modal" data-bs-toggle="modal" class="btn btn-outline-primary btn-block">Select Plan</a> -->
                    <a href="" [routerLink]="routes.f_membership_login" data-bs-toggle="modal" class="btn btn-outline-primary btn-block">Select Plan</a>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="package-detail">
                    <h4>Business </h4>
                    <p>Highest selling package features</p>
                    <h3 class="package-price">$29.00<span>/ Month</span></h3>
                    <div class="package-feature">
                        <ul>
                            <li>15 Project Credits</li>
                            <li>12 Allowed Services</li>
                            <li>25 Days visibility</li>
                            <li>10 Featured Services</li>
                            <li>30 Days visibility</li>
                            <li>40 Days Package Expiry</li>
                            <li>Profile Featured</li>
                        </ul>
                    </div>
                    <!-- <a href="#payout_modal" data-bs-toggle="modal" class="btn btn-outline-primary btn-block">Select Plan</a> -->
                    <a href="" [routerLink]="routes.f_membership_login" data-bs-toggle="modal" class="btn btn-outline-primary btn-block">Select Plan</a>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="package-detail">
                    <h4>The Unlimited </h4>
                    <p>Drive crazy, unlimited on the go</p>
                    <h3 class="package-price">$79.00<span>/ Month</span></h3>
                    <div class="package-feature">
                        <ul>
                            <li>Unlimited Project Credits</li>
                            <li>Unlimited Services</li>
                            <li>Services Never Expire</li>
                            <li>20 Featured Services</li>
                            <li>Services Never Expire</li>
                            <li>Package Never Expire</li>
                            <li>Profile Featured</li>
                        </ul>
                    </div>
                    <!-- <a href="#payout_modal" data-bs-toggle="modal" class="btn btn-outline-primary btn-block">Select Plan</a> -->
                    <a href="" [routerLink]="routes.f_membership_login" data-bs-toggle="modal" class="btn btn-outline-primary btn-block">Select Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>
