<div class="main-wrapper account-page">
    <!-- Page Content -->
    <div class="login-wrapper">
        <div class="content">
            <!-- Login Content -->
            <div class="account-content">
                <div class="align-items-center justify-content-center">
                    <div class="login-right">
                        <div class="tab-content pt-0">
                            <div role="tabpanel" id="freelancer" class="tab-pane fade active show">
                                <form>
                                    <div class="input-block">
                                        <label for="email-address" class="focus-label">Email Address <span
                                                class="label-star"> *</span></label>
                                        <input type="text" class="form-control floating">
                                    </div>
                                    <div class="input-block">
                                        <label for="password" class="focus-label">Password <span class="label-star">
                                                *</span></label>
                                        <div class="position-relative">
                                            <input
                                                class="form-control floating pass-input" >                                       
                                        </div>
                                    </div>
                                    <button [routerLink]="routes.freelancer_membership"
                                        class="btn btn-primary w-100 btn-lg login-btn d-flex align-items-center justify-content-center"
                                        type="submit">Login Now<i class="feather icon-arrow-right ms-2"></i></button>
                                    <div class="row">
                                        <div class="col-sm-8 dont-have d-flex  align-items-center">New to JobSupport4U
                                            <a [routerLink]="routes.register" class="ms-2">Signup?</a>
                                        </div>
                                        <div class="col-sm-4 text-sm-end">
                                            <a class="forgot-link" [routerLink]="routes.forgot_password">Forgot
                                                Password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /Login Content -->
        </div>
    </div>

    <!-- /Page Content -->
</div>