
<div class="container">
    <div class="admin-header">
        <button (click)="backToDashboard()">Back</button>
        Admin
    </div>

    <div class="container-wrapper">
        <div class="message-container">
            <div *ngFor="let message of messages" [ngClass]="{'right': message.side === 'right', 'left': message.side === 'left'}" class="message">
                <p>{{ message.content }}</p>
                <p class="timestamp">{{ formatTimestamp(message.timestamp) }}</p>
            </div>
        </div>

        <form (ngSubmit)="sendMessage()" class="message-form">
            <textarea id="content" name="content" [(ngModel)]="newMessage.content"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</div>

