<!-- Page Content -->
<div class="page-title">
    <h3>Ongoing Projects</h3>
</div>
<!-- Proposals list -->
<div class="proposals-section ongoing-projects">

    <!-- Proposals -->
    <div class="freelancer-proposals proposal-ongoing" *ngFor="let project of projects">
        <div class="project-proposals align-items-center freelancer">
            <div class="proposal-info">
                <div class="proposals-details">
                    <h3 class="proposals-title">{{project.project_title}}</h3>
                    <ul>

                        <li>
                            <div class="proposal-client-price">
                                <h4 class="title-info">Client Price</h4>
                                <ng-container *ngIf="project.active_rate === 'fixed'">
                                    <h4>{{ project.budget_amount }}</h4>
                                    <span>Fixed</span>
                                </ng-container>
                                <ng-container *ngIf="project.active_rate === 'hourly'">
                                    <!-- If hourly rate, display the hourly rate -->
                                    <h4>{{ project.budget_amount}}</h4>
                                    <span>Hourly</span>
                                </ng-container>
                            </div>
                        </li>
                        <li>
                            <div class="proposal-job-type">
                                <h4 class="title-info">Project Deadline</h4>
                                <h3>{{project.deadline_date}}</h3>
                            </div>
                        </li>
                        <li>
                            <div class="proposal-img">
                                <div class="proposal-client d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <div *ngIf="isLoading">
                                            <p>Loading...</p>
                                          </div>
                                          <div *ngIf="!isLoading">
                                            <div *ngIf="photoUrl">
                                              <img [src]="photoUrl" alt="Profile Image" class="avatar-lg rounded-circle">
                                            </div>
                                            <div *ngIf="!photoUrl">
                                              <p>No photo found.</p>
                                            </div>
                                          </div>						  
                                    </a>
                                    <div>
                                        <h4>{{project.user.name}}</h4>
                                        <!-- <span>10 Oct 2023<i class="fa-solid fa-star"></i>5.0</span> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="project-action text-center">
                                <a href="javascript:void(0);" (click)="fetchProject(project.project_id)"  class="projects-btn mb-0">View Details</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Proposals -->
</div>
<!-- /Proposals list -->
<!-- /Page Content -->