<div class="page-wrapper board-screen">
  <div class="content container-fluid">
    <div class="acc-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="multistep-form">
            <!-- Freelancer Multistep -->
            <div class="multistep-progress" id="freelance_step">
              <div class="container">
                <div class="first-progress">
                  <div class="row align-items-center">
                    <div class="col-md-3">
                      <div class="board-logo">
                        <a [routerLink]="routes.home"><img src="assets/img/logo.png" alt="Img" class="img-fluid" /></a>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <ul id="progressbar" class="progressbar">
                        <li [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 0,
                            'progress-activated': selectedFieldSet[0] > 0
                          }">
                          <div class="multi-step">
                            <img src="assets/img/icon/wizard-icon-01.svg" alt="Img" />
                          </div>
                          <div class="steps-count">
                            <span>Step 1/5</span>
                            <h5>Account Type</h5>
                          </div>
                        </li>
                        <li [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 1,
                            'progress-activated': selectedFieldSet[0] > 1
                          }">
                          <div class="multi-step">
                            <img src="assets/img/icon/wizard-icon-02.svg" alt="Img" />
                          </div>
                          <div class="steps-count">
                            <span>Step 2/5</span>
                            <h5>Personal info</h5>
                          </div>
                        </li>
                        <li [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 2,
                            'progress-activated': selectedFieldSet[0] > 2
                          }">
                          <div class="multi-step">
                            <img src="assets/img/icon/wizard-icon-03.svg" alt="Img" />
                          </div>
                          <div class="steps-count">
                            <span>Step 3/5</span>
                            <h5>Skills & Experience</h5>
                          </div>
                        </li>
                        <li [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 3,
                            'progress-activated': selectedFieldSet[0] > 3
                          }">
                          <div class="multi-step">
                            <img src="assets/img/icon/wizard-icon-04.svg" alt="Img" />
                          </div>
                          <div class="steps-count">
                            <span>Step 4/5</span>
                            <h5>Other Information</h5>
                          </div>
                        </li>
                        <li [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 4,
                            'progress-activated': selectedFieldSet[0] > 4
                          }">
                          <div class="multi-step">
                            <img src="assets/img/icon/wizard-icon-05.svg" alt="Img" />
                          </div>
                          <div class="steps-count">
                            <span>Step 5/5</span>
                            <h5>Email Verification</h5>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Freelancer Multistep -->

            <!-- Accounting Onboard -->
            <div class="text-center on-board select-account group-select"
              [ngClass]="{ 'd-block': displayBlock === true }" [ngClass]="{ 'd-none': displayNone === true }"
              [class.d-block]="selectedFieldSet[0] === 0">
              <div class="select-type">
                <div class="account-onborad onboard-head">
                  <h2>Select Account Type</h2>
                  <p>Don’t worry, this can be changed later.</p>
                  <div class="select-box d-flex justify-content-center">
                    <!-- <input checked="checked" id="freelance" type="radio" name="credit-card" value="visa" /> -->
                    <input #freelanceInput checked="checked" id="freelance" type="radio" name="credit-card"
                      value="Freelancer" />
                    <label class="employee-level free-lance-img accounts_type" data-id="freelance" for="freelance">
                      <a [routerLink]="routes.freelancer_onboard">
                        <img src="assets/img/icon/checks.svg" alt="Img" class="checks-set" />
                        <img src="assets/img/select-04.svg" alt="Img" class="img-fluid" />
                        <span>Freelancer</span>
                      </a>
                    </label>
                    <!-- <input id="employee" class="accounts_type" type="radio" name="credit-card" value="mastercard" /> -->
                    <input #employeeInput id="employee" class="accounts_type" type="radio" name="credit-card"
                      value="Employer" />
                    <label class="employee-level employee-img accounts_type" data-id="employee" for="employee">
                      <a (click)="onBoardEmployer()"><img src="assets/img/select-05.svg" alt="Img"
                          class="img-fluid" /><span>Employer</span></a></label>
                  </div>
                </div>
                <input class="btn btn-prev prev_btn btn-back" name="next" type="button" value="Back" disabled />
                <input class="btn next_btn btn-primary btn-get btn-next" name="next" type="submit" value="Next"
                  (click)="selectedFieldSet[0] = 1; none()" (keydown.enter)="selectedFieldSet[0] = 1; none()"
                  (click)="printSelectedRole(freelanceInput.checked, employeeInput.checked)"
                  (keydown.enter)="printSelectedRole(freelanceInput.checked, employeeInput.checked)"
                  (click)="updateRole()">
              </div>
            </div>
            <!-- /Accounting Onboard -->

            <!-- Personal Info -->
            <div class="on-board field-card select-account select-btn" [class.d-block]="selectedFieldSet[0] === 1">
              <div class="text-center onboard-head">
                <h2>Personal Info</h2>
                <p>
                  Tell a bit about yourself. This information will appear on
                  your public profile, so that potential buyers can get to know
                  you better.
                </p>
              </div>
              <div class="field-item personal-info space-info">
                <form (ngSubmit)="personalInfo()" [formGroup]="personalForm">
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <!-- <div class="pro-form-img">
                        <div class="profile-pic">Profile Photo</div>
                        <div class="upload-files">
                          <label class="file-upload image-upbtn">
                            <i class="feather icon-upload me-2"></i>Upload Photo
                            <input type="file"   />
                          </label>
                          <span>For better preview recommended size is 450px x
                            450px. Max size 5mb.</span>
                        </div>
                      </div> -->
                      <div class="pro-form-img">
                        <div class="profile-pic">Profile Photo</div>
                        <div class="upload-files">
                          <label class="file-upload image-upbtn">
                            <i class="feather icon-upload me-2"></i>Upload Photo
                            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
                            </label>
                              <span>For better preview recommended size is 450px x 450px. Max size 5mb.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="first-name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="3" formControlName="firstname" />
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="last-name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname" formControlName="lastname" />
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <div class="input-block">
                        <label for="phone-number" class="form-label">Phone Number</label>
                        <input type="number" class="form-control" id="phonenumber" formControlName="phonenumber" />
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="input-block">
                        <label for="date-of-birth" class="form-label">Date of Birth</label>
                        <div class="cal-icon">
                          <input type="text" class="form-control datetimepicker" bsDatepicker placeholder="Choose"
                            id="dob" formControlName="dob" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="input-block">
                        <label for="job-title" class="form-label">Your Job Title</label>
                        <input type="text" class="form-control" id="jobtitle" formControlName="jobtitle" />
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="input-block">
                        <label for="jobs" class="form-label">Type of Job</label>
                        <mat-select class="select mat-select arrow verify" placeholder="Select" id="typeofjob"
                          formControlName="typeofjob">
                          <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                            {{ data.value }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-block min-characters">
                        <label for="intro" class="form-label">Describe Yourself</label>
                        <textarea class="form-control" rows="5" id="description"
                          formControlName="description"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <input class="btn btn-prev prev_btn btn-back" name="next" type="button" value="Back"
                      (click)="selectedFieldSet[0] = 0; block()" />
                    <input class="btn next_btn btn-primary btn-get btn-next" name="next" type="submit" value="Next"
                      (click)="selectedFieldSet[0] = 2" (keydown.enter)="selectedFieldSet[0] = 2" />
                  </div>
                </form>
              </div>
            </div>
            <!-- /Personal Info -->

            <!-- Skills & Experience -->

            <div class="on-board field-card select-account select-btn" [class.d-block]="selectedFieldSet[0] === 2">
              <div class="text-center onboard-head">
                <h2>Skills & Experience</h2>
                <p>
                  This is your time to shine. Let potential buyers know what you
                  do best and how you gained your skills, certifications and
                  experience
                </p>
              </div>
              <div class="field-item personal-info space-info">
                <form [formGroup]="userDataForm" (ngSubmit)="skillsandExp()">

                  <!-- Skills -->

                  <div formArrayName="skills">
                    <div class="col-md-12">
                      <h4>Skills</h4>
                    </div>
                    <div *ngFor="let skill of skills.controls; let i = index" [formGroupName]="i">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="skillName{{i}}">Skill Name</label>
                          <input type="text" id="skillName{{i}}" formControlName="skillName" class="form-control" />
                        </div>
                        <div class="col-md-5">
                          <label for="level{{i}}">Level</label>
                          <mat-select id="level{{i}}" formControlName="level" class="select mat-select arrow verify"
                            placeholder="Choose Level">
                            <mat-option *ngFor="let data of selectedList2" [value]="data.value">
                              {{ data.value }}
                            </mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-1 align-self-end">
                          <button *ngIf="skills.length > 1" type="button" (click)="removeSkills(i)"
                            class="btn btn-danger">Remove</button>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="button" (click)="addSkills()" class="btn btn-primary mt-3">Add Skill</button>
                    </div>
                  </div>
                  <br>
                  <!-- Education -->

                  <div formArrayName="educations">
                    <div class="col-md-12">
                      <h4>Education</h4>
                    </div>
                    <div *ngFor="let educate of education.controls; let i = index" [formGroupName]="i">
                      <div class="row">
                        <div class="col-md-6 col-lg-3">
                          <div class="input-block">
                            <label for="degree{{i}}" class="focus-label">Degree Name</label>
                            <mat-select id="degree{{i}}" formControlName="degree" class="select mat-select arrow verify"
                              placeholder="Select">
                              <mat-option *ngFor="let data of selectedList3" [value]="data.value">{{ data.value
                                }}</mat-option>
                            </mat-select>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                          <div class="input-block">
                            <label for="university{{i}}" class="focus-label">University Name</label>
                            <input type="text" class="form-control" id="university{{i}}" formControlName="university" />
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                          <div class="input-block">
                            <label for="startdate{{i}}" class="focus-label">Start Date</label>
                            <input type="date" class="form-control" placeholder="Choose" id="startdate{{i}}"
                              formControlName="startdate" />
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                          <div class="input-block">
                            <label for="enddate{{i}}" class="focus-label">End Date</label>
                            <input type="date" class="form-control" placeholder="Choose" id="enddate{{i}}"
                              formControlName="enddate" />
                          </div>
                        </div>
                        <div class="col-md-1 align-self-end">
                          <button *ngIf="education.length > 1" type="button" (click)="removeEducation(i)"
                            class="btn btn-danger">Remove</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="button" (click)="addEducations()" class="btn btn-primary mt-3">Add
                        Education</button>
                    </div>
                  </div>
                  <br>

                  <!-- Certification -->

                  <div formArrayName="certifications">
                    <div class="col-md-12">
                      <h4>Certification</h4>
                    </div>
                    <div *ngFor="let certificate of certification.controls; let i = index" [formGroupName]="i">
                      <div class="row">
                        <!-- Certification Name -->
                        <div class="col-md-4 col-lg-4">
                          <div class="input-block">
                            <label for="certification{{i}}" class="focus-label">Certification or Award</label>
                            <mat-select id="certification{{i}}" formControlName="certification"
                              class="select mat-select arrow verify" placeholder="Select">
                              <mat-option *ngFor="let data of selectedList4" [value]="data.value">{{ data.value
                                }}</mat-option>
                            </mat-select>
                          </div>
                        </div>
                        <!-- Certified From -->
                        <div class="col-md-4 col-lg-4">
                          <div class="input-block">
                            <label for="certifiedfrom{{i}}" class="focus-label">Certified from</label>
                            <input type="text" class="form-control" id="certifiedfrom{{i}}"
                              formControlName="certifiedfrom" />
                          </div>
                        </div>
                        <!-- Year -->
                        <div class="col-md-4 col-lg-4">
                          <div class="input-block">
                            <label for="year{{i}}" class="focus-label">Year</label>
                            <input type="text" class="form-control" id="year{{i}}" formControlName="year" />
                          </div>
                        </div>
                        <div class="col-md-1 align-self-end">
                          <button *ngIf="certification.length > 1" type="button" (click)="removeCertification(i)"
                            class="btn btn-danger">Remove</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="button" (click)="addCertification()" class="btn btn-primary mt-3">Add
                        Certification</button>
                    </div>
                  </div>
                  <br>

                  <!-- Experience -->

                  <div formArrayName="experiences">
                    <div class="col-md-12">
                      <h4>Experience</h4>
                    </div>
                    <div *ngFor="let experiences of experience.controls; let i = index" [formGroupName]="i">
                      <div class="row">
                        <!-- Company Name -->
                        <div class="col-md-6 col-lg-3">
                          <div class="input-block">
                            <label for="companyname{{i}}" class="focus-label">Company Name</label>
                            <input type="text" class="form-control" id="companyname{{i}}"
                              formControlName="companyname" />
                          </div>
                        </div>
                        <!-- Position -->
                        <div class="col-md-6 col-lg-3">
                          <div class="input-block">
                            <label for="position{{i}}" class="focus-label">Position</label>
                            <mat-select id="position{{i}}" formControlName="position"
                              class="select mat-select arrow verify" placeholder="Select">
                              <mat-option *ngFor="let data of selectedList5" [value]="data.value">{{ data.value
                                }}</mat-option>
                            </mat-select>
                          </div>
                        </div>
                        <!-- Start Date -->
                        <div class="col-md-6 col-lg-3">
                          <div class="input-block">
                            <label for="companystartdate{{i}}" class="focus-label">Start Date</label>
                            <input type="date" class="form-control" placeholder="Choose" id="companystartdate{{i}}"
                              formControlName="companystartdate" />
                          </div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-6 col-lg-3">
                          <div class="input-block">
                            <label for="companyenddate{{i}}" class="focus-label">End Date</label>
                            <input type="date" class="form-control" placeholder="Choose" id="companyenddate{{i}}"
                              formControlName="companyenddate" />
                          </div>
                        </div>
                        <div class="col-md-1 align-self-end">
                          <button *ngIf="experience.length > 1" type="button" (click)="removeExperience(i)"
                            class="btn btn-danger">Remove</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="button" (click)="addExperience()" class="btn btn-primary mt-3">Add
                        Experience</button>
                    </div>
                  </div>
                  <br>

                  <!-- Language -->

                  <div formArrayName="languages">
                    <div class="col-md-12">
                      <h4>Language</h4>
                    </div>
                    <div *ngFor="let lang of language.controls; let i = index" [formGroupName]="i">
                      <div class="row">
                        <!-- Language Name -->
                        <div class="col-md-6">
                          <div class="input-block">
                            <label for="language{{i}}" class="form-label">Language</label>
                            <input type="text" class="form-control" id="language{{i}}" formControlName="language" />
                          </div>
                        </div>
                        <!-- Level -->
                        <div class="col-md-6">
                          <div class="input-block">
                            <label for="chooselevel{{i}}" class="focus-label">Level</label>
                            <mat-select id="chooselevel{{i}}" formControlName="chooselevel"
                              class="select mat-select arrow verify" placeholder="Choose Level">
                              <mat-option *ngFor="let data of selectedList6" [value]="data.value">{{ data.value
                                }}</mat-option>
                            </mat-select>
                          </div>
                        </div>
                        <div class="col-md-1 align-self-end">
                          <button *ngIf="language.length > 1" type="button" (click)="removeLanguage(i)"
                            class="btn btn-danger">Remove</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="button" (click)="addLanguage()" class="btn btn-primary mt-3">Add Language</button>
                    </div>
                  </div>
                  <br>

                  <!-- <button type="submit" class="btn btn-success mt-3">Submit</button> -->
                  <div class="text-center">
                    <input class="btn btn-prev prev_btn btn-back" name="next" type="button" value="Back"
                      (click)="selectedFieldSet[0] = 1" />
                    <input class="btn next_btn btn-primary btn-get btn-next" name="next" type="submit" value="Next"
                      (click)="selectedFieldSet[0] = 3" />
                  </div>

                </form>
              </div>
            </div>
            <!-- /Skills & Experience -->

            <!-- Other Info -->
            <div class="on-board field-card select-account select-btn" [class.d-block]="selectedFieldSet[0] === 3">
              <div class="text-center onboard-head">
                <h2>Other info</h2>
                <p>Don’t worry, this can be changed later.</p>
              </div>
              <div class="field-item personal-info">
                <form (ngSubmit)="otherInfo()" [formGroup]="otherInfoForm">
                  <div class="media-set">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Social Media</h4>
                      </div>
                      <div class="col-md-4">
                        <div class="input-block">
                          <label for="Facebook" class="form-label">Facebook</label>
                          <input type="text" class="form-control" id="facebook" formControlName="facebook" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-block">
                          <label for="instagram" class="form-label">Instagram
                          </label>
                          <input type="text" class="form-control" id="instagram" formControlName="instagram" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-block">
                          <label for="linkedin" class="form-label">LinkedIn
                          </label>
                          <input type="text" class="form-control" id="linkedin " formControlName="linkedin" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="media-set">
                      <div class="row">
                        <div class="col-md-12">
                          <h4>Personal Website</h4>
                        </div>
                        <div class="col-md-12">
                          <div class="input-block">
                            <label for="website-url" class="form-label">Website Url</label>
                            <input type="text" class="form-control" id="persnolurl" formControlName="persnolurl" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media-set">
                      <div class="row">
                        <div class="col-md-12">
                          <h4>Location</h4>
                        </div>
                        <div class="col-md-12">
                          <div class="input-block">
                            <label for="Address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" formControlName="address" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-block">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" formControlName="city" />
                          </div>

                        </div>
                        <div class="col-md-3">
                          <div class="input-block">
                            <label for="state" class="form-label">State / Province</label>
                            <input type="text" class="form-control" id="state" formControlName="state" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-block">
                            <label for="post-code" class="form-label">ZIP / Post Code</label>
                            <input type="text" class="form-control" id="postcode" formControlName="postcode" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media-set">
                      <div class="row">
                        <div class="col-md-12">
                          <h4>KYC Upload</h4>
                        </div>
                        <div class="col-md-6">
                          <div class="input-block">
                            <label for="document-type" class="form-label">Document Type</label>
                            <mat-select id="documenttype" formControlName="documenttype"
                              class="select mat-select arrow verify" placeholder="Select">
                              <mat-option *ngFor="let data of selectedList8" [value]="data.value">
                                {{ data.value }}
                              </mat-option>
                            </mat-select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-block">
                            <label for="document-number" class="form-label">Document Number</label>
                            <input type="text" class="form-control" id="documentnumber"
                              formControlName="documentnumber" />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="input-block">
                            <label for="document-number" class="form-label">Document Number</label>
                            <div class="upload-sets">
                              <label class="upload-filesview">
                                Browse File
                                <input type="file" />
                              </label>
                              <h6>Or Drag & Drop here</h6>
                            </div>
                            <span class="text-success"><i class="fa fa-check-circle me-2"
                                aria-hidden="true"></i>Passport.jpg Uploaded Successfully</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <input class="btn btn-prev prev_btn btn-back" name="next" type="button" value="Back"
                      (click)="selectedFieldSet[0] = 2" (keydown.enter)="selectedFieldSet[0] = 2" />
                    <input class="btn next_btn btn-primary btn-get btn-next" [routerLink]="routes.login" name="next"
                      type="submit" value="Submit" />
                  </div>
                </form>
              </div>
            </div>
            <!-- /Other Info -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>