<div class="dashboard-sec freelance-favourites">
	<div class="page-title">
		<h3>Favourites</h3>
	</div>
	<div class="row row-gap">
		<div class="col-md-6 col-lg-12 col-xl-4">

			<div class="freelance-widget widget-author">
				<div class="freelance-content">
					<div class="freelance-top-content d-flex">
						<span> <i class="feather icon-clock me-1"></i>Posted Just Now</span>
						<a href="javascript:void(0);" class="favourite" [ngClass]="{'color-active': like[1]}"
							(click)="toggleLike(1)"><i class="feather icon-heart"></i></a>
					</div>
					<div class="author-heading">
						<div class="profile-img">
							<span class="project-verified"><i class="fas fa-check-circle"></i></span>
							<a [routerLink]="routes.freelancer_project_details">
								<img src="assets/img/company/img-1.png" alt="author">
							</a>
						</div>
						<div class="profile-name">
							<div class="author-location"><a [routerLink]="routes.freelancer_project_details">Amaze Tech
								</a></div>
						</div>
						<div class="freelance-info">
							<h3><a href="javascript:void(0);">UI/UX Developer</a></h3>
							<div class="freelance-location"><i class="feather icon-map-pin me-1"></i>Alabama, USA</div>
						</div>
						<div class="freelance-tags">
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Web
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">UI
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Node Js</span></a>
						</div>
						<div class="freelancers-price">$40-$500</div>
					</div>
					<div class="counter-stats">
						<ul>
							<li>
								<h5>Expiry</h5>
								<h3 class="counter-value">4 Days Left</h3>
							</li>
							<li>
								<h5>Proposals</h5>
								<h3 class="counter-value">15</h3>
							</li>
							<li>
								<h5>Job Type</h5>
								<h3 class="counter-value"><span class="jobtype">Full Time</span></h3>
							</li>
						</ul>
					</div>
				</div>
				<div class="cart-hover">
					<a [routerLink]="routes.freelancer_project_details" class="btn-cart" tabindex="-1">View Profile</a>
				</div>
			</div>
		</div>

	</div>


</div>

<div class="row">
	<div class="col-md-12">
		<ul class="paginations list-pagination">
			<li class="page-item"><a href="javascript:void(0);"><i class="feather icon-chevron-left"></i></a>
			</li>
			<li class="page-item"><a href="javascript:void(0);" class="active">1</a></li>
			<li class="page-item"><a href="javascript:void(0);">2</a></li>
			<li class="page-item"><a href="javascript:void(0);">3</a></li>
			<li class="page-item"><a href="javascript:void(0);">...</a></li>
			<li class="page-item"><a href="javascript:void(0);">10</a></li>
			<li class="page-item"><a href="javascript:void(0);"><i class="feather icon-chevron-right"></i></a></li>
		</ul>
	</div>
</div>
