<!-- Page Content -->
<div class="pro-pos">
    <div class="setting-content">
        <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
            <div class="card">
                <div class="pro-head">
                    <h3>Profile Setting</h3>
                </div>
                <div class="pro-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-row pro-pad pt-0 ps-0">
                                <div class="input-block col-md-6 pro-pic">
                                    <h4 class="mb-3">Personal Information</h4>
                                    <label for="profile-picture" class="form-label">Profile Picture</label>
                                    <div class="d-flex align-items-center">
                                        <div class="upload-images">
                                            <img src="assets/img/img-02.jpg" alt="Image" id="blah">
                                        </div>
                                        <div class="ms-3">
                                            <label class="file-upload image-upbtn ms-0">
                                                Upload Image <input type="file" id="imgInp"
                                                    (change)="onFileSelected($event)">
                                            </label>
                                            <p>Max Image size 300*300</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="mb-3">
                                <label for="firstname" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstname" formControlName="firstname" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="mb-3">
                                <label for="lastname" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastname" formControlName="lastname" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="mb-3">
                                <label for="phonenumber" class="form-label">Phone Number</label>
                                <input type="number" class="form-control" id="phonenumber"
                                    formControlName="phonenumber" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="mb-3">
                                <label for="dob" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" placeholder="Choose" id="dob"
                                    formControlName="dob" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="mb-3">
                                <label for="jobtitle" class="form-label">Your Job Title</label>
                                <input type="text" class="form-control" id="jobtitle" formControlName="jobtitle" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="mb-3">
                                <label for="typeofjob" class="form-label">Type of Job</label>
                                <mat-select class="select mat-select arrow verify" placeholder="Select" id="typeofjob"
                                    formControlName="typeofjob">
                                    <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                                        {{ data.value }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="pro-head">
                    <h4 class="pro-titles mb-0">Overview</h4>
                </div>
                <div class="pro-body">
                    <div class="row">
                        <div class="input-block col-md-12">
                            <label for="intro" class="form-label">Describe Yourself</label>
                            <textarea class="form-control" rows="5" id="description"
                                formControlName="description"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="form-row"> -->
            <div class="col-lg-12 w-100">
                <div class="card flex-fill mb-3">
                    <div formArrayName="skills">
                        <div class="pro-head">
                            <h4 class="pro-titles mb-0">Skills</h4>
                        </div>
                        <div class="pro-body  skill-info">
                            <div *ngFor="let skill of skills.controls; let i = index" [formGroupName]="i">
                                <div class="form-row align-items-center skill-cont">
                                    <div class="input-block col-md-6">
                                        <label for="skillName">Skill Name</label>
                                        <input type="text" id="skill_name" formControlName="skill_name"
                                            class="form-control" />
                                    </div>
                                    <div class="input-block col-md-5">
                                        <label for="level">Level</label>
                                        <mat-select id="level" formControlName="level"
                                            class="select mat-select arrow verify" placeholder="Choose Level">
                                            <mat-option *ngFor="let data of selectedList2" [value]="data.value">
                                                {{ data.value }}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="input-block col-lg-1 mb-0">
                                        <a href="javascript:void(0);" class="btn trash-icon" (click)="removeSkill(i)"><i
                                                class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="certi_add_row" class=" w-100">
                                <a href="javascript:void(0);" (click)="addSkill()" (keydown.enter)="addSkill()"
                                    tabindex="0" class="btn fund-btn skill-add add-btn-profile"><i
                                        class="feather icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 w-100">
                <div class="card flex-fill mb-3">
                    <div formArrayName="education">
                        <div class="pro-head">
                            <h4 class="pro-titles without-border mb-0">Education</h4>
                        </div>
                        <div class="pro-body  education-info">
                            <div *ngFor="let edu of educations.controls; let i = index" [formGroupName]="i">
                                <div class="form-row align-items-center skill-cont">
                                    <div class="input-block col-lg-3">
                                        <label for="degree" class="form-label">Degree Name</label>
                                        <input type="text" class="form-control" formControlName="degree"
                                            placeholder="Enter degree name" id="degree">
                                    </div>
                                    <div class="input-block col-lg-3">
                                        <label for="university" class="form-label">University Name</label>
                                        <input type="text" class="form-control" formControlName="university"
                                            placeholder="Enter university name" id="university">
                                    </div>
                                    <div class="col-md-3 input-block floating-icon">
                                        <label for="startdate" class="form-label">Start Date</label>
                                        <input type="date" class="form-control" formControlName="startdate"
                                            id="startdate">
                                    </div>
                                    <div class="col-md-2 input-block floating-icon">
                                        <label for="enddate" class="form-label">End Date</label>
                                        <input type="date" class="form-control" formControlName="enddate" id="enddate">
                                    </div>
                                    <div class="input-block col-lg-1 mb-0">
                                        <a href="javascript:void(0);" class="btn trash-icon"
                                            (click)="removeEducation(i)" (keydown.enter)="removeEducation(i)"><i
                                                class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="certi_add_row" class=" w-100">
                                <a href="javascript:void(0);" (click)="addEducation()" (keydown.enter)="addEducation()"
                                    class="btn fund-btn skill-add add-btn-profile"><i class="feather icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->

            <div class="col-lg-12 w-100">
                <div class="card flex-fill mb-3">
                    <div formArrayName="certification">
                        <div class="pro-head">
                            <h4 class="pro-titles without-border mb-0">Certification</h4>
                        </div>
                        <div class="pro-body  certification-info">
                            <div *ngFor="let cer of certifications.controls; let i=index" [formGroupName]="i">
                                <div class="form-row align-items-center skill-cont">
                                    <div class="input-block col-lg-4">
                                        <label for="certification{{i}}" class="focus-label">Certification or
                                            Award</label>
                                        <input type="text" class="form-control" id="certification{{i}}"
                                            formControlName="certification" placeholder="Enter Name" />
                                    </div>
                                    <div class="input-block col-lg-4">
                                        <label for="certifiedfrom{{i}}" class="focus-label">Certified from</label>
                                        <input type="text" class="form-control" id="certifiedfrom{{i}}"
                                            formControlName="certifiedfrom" placeholder="Certified From" />
                                    </div>
                                    <div class="col-lg-3 input-block floating-icon">
                                        <label for="year{{i}}" class="focus-label">Year</label>
                                        <input type="text" class="form-control" id="year{{i}}" formControlName="year" />
                                    </div>
                                    <div class="input-block col-lg-1 mb-0">
                                        <a href="javascript:void(0);" (click)="removeCertification(i)"
                                            class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="certi_add_row" class=" w-100">
                                <a href="javascript:void(0);" (click)="addCertification()"
                                    (keydown.enter)="addCertification()" tabindex="0"
                                    class="btn fund-btn skill-add add-btn-profile"><i class="feather icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 w-100">
                <div class="card flex-fill mb-3">
                    <div formArrayName="experience">
                        <div class="pro-head">
                            <h4 class="pro-titles without-border mb-0">Experience</h4>
                        </div>
                        <div class="pro-body experience-info">
                            <div *ngFor="let exp of experiences.controls; let i=index" [formGroupName]="i">
                                <div class="form-row align-items-center skill-cont">
                                    <div class="input-block col-lg-3">
                                        <label for="companyname{{i}}" class="focus-label">Company Name</label>
                                        <input type="text" class="form-control" id="companyname{{i}}"
                                            formControlName="companyname" />
                                    </div>
                                    <div class="input-block col-lg-3">
                                        <label for="position{{i}}" class="focus-label">Position</label>
                                        <mat-select id="position{{i}}" formControlName="position"
                                            class="select mat-select arrow verify" placeholder="Select">
                                            <mat-option *ngFor="let data of selectedList5" [value]="data.value">{{
                                                data.value
                                                }}</mat-option>
                                        </mat-select>

                                    </div>
                                    <div class="col-md-3 input-block floating-icon">
                                        <label for="companystartdate{{i}}" class="focus-label">Start Date</label>
                                        <input type="date" class="form-control" placeholder="Choose"
                                            id="companystartdate{{i}}" formControlName="companystartdate" />
                                    </div>
                                    <div class="col-md-2 input-block floating-icon">
                                        <label for="companyenddate{{i}}" class="focus-label">End Date</label>
                                        <input type="date" class="form-control" placeholder="Choose"
                                            id="companyenddate{{i}}" formControlName="companyenddate" />
                                    </div>
                                    <div class="input-block col-lg-1 mb-0">
                                        <a href="javascript:void(0);" (click)="removeExperience(i)"
                                            class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="certi_add_row" class=" w-100">
                                <a href="javascript:void(0);" (click)="addExperience()"
                                    (keydown.enter)="addExperience()" tabindex="0"
                                    class="btn fund-btn skill-add add-btn-profile"><i class="feather icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 w-100">
                <div class="card flex-fill mb-3">
                    <div formArrayName="language">
                        <div class="pro-head">
                            <h4 class="pro-titles mb-0">Language</h4>
                        </div>
                        <div class="pro-body language-info">
                            <div *ngFor="let lan of languages.controls; let i=index" [formGroupName]="i">
                                <div class="form-row align-items-center skill-cont">
                                    <div class="input-block col-md-6">
                                        <label for="language{{i}}" class="form-label">Language</label>
                                        <input type="text" class="form-control" id="language{{i}}"
                                            formControlName="language" />
                                    </div>
                                    <div class="input-block col-md-5">
                                        <label for="chooselevel{{i}}" class="focus-label">Level</label>
                                        <mat-select id="chooselevel{{i}}" formControlName="chooselevel"
                                            class="select mat-select arrow verify" placeholder="Choose Level">
                                            <mat-option *ngFor="let data of selectedList6" [value]="data.value">{{
                                                data.value
                                                }}</mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="input-block col-md-1 mb-0">
                                        <a href="javascript:void(0);" class="btn trash-icon"
                                            (click)="removeLanguage(i)"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="lang_add_row" class=" w-100">
                                <a href="javascript:void(0)" (click)="addLanguage()" (keydown.enter)="addLanguage()"
                                    tabindex="0" class="btn fund-btn lang-add add-btn-profile mb-0"><i
                                        class="feather icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 w-100">
                <div class="card flex-fill mb-3">
                    <div class="pro-head">
                        <h4 class="pro-titles mb-0">Social Media</h4>
                    </div>
                    <div class="pro-body  ">
                        <div class="form-row align-items-center skill-cont">
                            <div class="input-block col-lg-4">
                                <label for="Facebook" class="form-label">Facebook</label>
                                <input type="text" class="form-control" id="facebook" formControlName="facebook" />
                            </div>
                            <div class="input-block col-lg-4">
                                <label for="instagram" class="form-label">Instagram</label>
                                <input type="text" class="form-control" id="instagram" formControlName="instagram" />
                            </div>
                            <div class="input-block col-lg-4">
                                <label for="linkedin" class="form-label">LinkedIn</label>
                                <input type="text" class="form-control" id="linkedin " formControlName="linkedin" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card flex-fill mb-3">
                    <div class="pro-head">
                        <h4 class="pro-titles mb-0">Personal Website</h4>
                    </div>
                    <div class="pro-body  ">
                        <div class="form-row align-items-center skill-cont">
                            <div class="input-block col-lg-12">
                                <label for="website-url" class="form-label">Website Url</label>
                                <input type="text" class="form-control" id="persnolurl" formControlName="persnolurl" />
                            </div>
                            <div class="input-block col-lg-3">
                                <label for="Address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" formControlName="address" />
                            </div>
                            <div class="input-block col-lg-3">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" formControlName="city" />
                            </div>
                            <div class="input-block col-lg-3">
                                <label for="state" class="form-label">State / Province</label>
                                <input type="text" class="form-control" id="state" formControlName="state" />
                            </div>
                            <div class="input-block col-lg-3">
                                <label for="post-code" class="form-label">ZIP / Post Code</label>
                                <input type="text" class="form-control" id="postcode" formControlName="postcode" />
                            </div>
                            <!-- <div class="input-block col-md-3">
                                <label for="country" class="form-label">Country</label>
                                <mat-select [(ngModel)]="selectedValue9" [ngModelOptions]="{standalone: true}"
                                    class="select mat-select arrow verify" placeholder="Select">
                                    <mat-option *ngFor="let data of selectedList9" [value]="data.value">
                                        {{data.value}}
                                    </mat-option>
                                </mat-select>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-end border-0">
                <div class="pro-body">
                    <button class="btn btn-secondary click-btn btn-plan">Cancel</button>
                    <button href="#updated" data-bs-toggle="modal" class="btn btn-primary click-btn btn-plan"
                        type="submit" (keydown.enter)="navigation()" tabindex="0">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade success-modal hire-modal" id="updated">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body pt-4">
                <div class="success-msg-content text-center">
                    <h4>Details Updated SuccessFully..!!!</h4>
                    <p>Resume Your Operations....</p>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary mt-3"
                        (click)="navigation()">Okay</a>
                </div>
            </div>
        </div>
    </div>
</div>