<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- Page Content -->

<div class="page-title">
    <h3>Manage Projects</h3>
</div>
<nav class="user-tabs mb-4">
    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="routes.freelancerViewProjectDetail">Overview & Discussions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="routes.freelancerMilestones">Milestones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="routes.freelancerTask">Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="navigation()">Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="routes.freelancerPayments">Payments</a>
        </li>
    </ul>
</nav>

<!-- project list -->
<div class="my-projects">
    <!-- Proposals -->
    <div class="freelancer-proposals proposal-ongoing">
        <div class="project-proposals align-items-center freelancer">
            <div class="proposal-info">
                <div class="proposals-details">
                    <h3 class="proposals-title">{{project.project_title}}</h3>
                    <ul>

                        <li>
                            <div class="proposal-client-price">
                                <h4 class="title-info">Client Price</h4>
                                <!-- <h3 class="client-price">{{project.}}<span class="price-type">( Fixed )</span></h3> -->
                                <ng-container *ngIf="project.active_rate === 'fixed'">
                                    <h4>{{ project.budget_amount }}</h4>
                                    <span>Fixed</span>
                                </ng-container>
                                <ng-container *ngIf="project.active_rate === 'hourly'">
                                    <!-- If hourly rate, display the hourly rate -->
                                    <h4>{{ project.budget_amount}}</h4>
                                    <span>Hourly</span>
                                </ng-container>
                            </div>
                        </li>
                        <li>
                            <div class="proposal-job-type">
                                <h4 class="title-info">Project Deadline</h4>
                                <h3>{{project.deadline_date}}</h3>
                            </div>
                        </li>
                        <li>
                            <div class="proposal-img">
                                <div class="proposal-client d-flex align-items-center">
                                    <a href="javascript:void(0);">
                                        <div *ngIf="isLoading">
                                            <p>Loading...</p>
                                          </div>
                                          <div *ngIf="!isLoading">
                                            <div *ngIf="photoUrl">
                                              <img [src]="photoUrl" alt="Profile Image" class="avatar-lg rounded-circle">
                                            </div>
                                            <div *ngIf="!photoUrl">
                                              <p>No photo found.</p>
                                            </div>
                                          </div>						  
                                    </a>
                                    <div>
                                        <h4>{{project.user.name}}</h4>
                                        <!-- <span>10 Oct 2023<i class="fa-solid fa-star"></i>5.0</span> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="project-action text-center overview-action">
                                <a href="#confirmation" data-bs-toggle="modal" type="submit" class="projects-btn ">Is job
                                    completed?</a>
                                <a href="javascript:void(0);" class="btn-text mb-0">Chat Now</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Proposals -->
</div>
<!-- /project list -->

<!-- Overview -->
<div class="overview-description">
    <h4>Description</h4>
    <p>{{project.description}}</p>
</div>

<!-- /Overview -->

<!-- Skills Required -->
<div class="skill-required">
    <h4>Skills Required</h4>
    <div class="pro-content">
        <div class="tags">
            <div *ngFor="let skill of project.skills">
                <span class="badge badge-pill badge-design">{{skill}}</span>
            </div>
        </div>
    </div>
</div>
<!-- /Skills Required -->

<div class="modal fade success-modal hire-modal" id="confirmation">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body pt-4">
                <div class="success-msg-content text-center">
                    <h4>Are you Sure the Project is completed?</h4>
                    <a href="javascript:void(0);" (click)="projectStatus('Completed')" data-bs-dismiss="modal" class="btn btn-primary mt-3 mr-3">Completed</a>
                    <a href="javascript:void(0);" (click)="projectStatus('Pending')" data-bs-dismiss="modal" class="btn btn-primary mt-3">Pending</a>
                </div>                
            </div>
        </div>
    </div>
</div>
