<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Account Deletion</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Home</a></li>
                        <li class="breadcrumb-item active">Account Deletion Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->


        <div class="row">
            <div class="col-lg-12">
                <div class="card bg-white">
                    <div class="card-body pt-0">
                        <div class="card-header mb-4">
                            <ul role="tablist" class="nav nav-pills card-header-pills nav-justified">
                                <li class="nav-item">
                                    <a href="#employer" data-bs-toggle="tab" class="nav-link active me-1">Employers</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#freelancer" data-bs-toggle="tab" class="nav-link">Freelancers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content pt-0">
                            <div role="tabpanel" id="employer" class="tab-pane fade show active">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div class="table_header">
                                                <div class="dataTables_length">
                                                    <label for="show">
                                                        Show
                                                    </label>
                                                    <label for="entries">Entries</label>
                                                </div>
                                                <div class="dataTables_filter">
                                                    <label for="search">
                                                        Search:
                                                    </label>
                                                    <input [(ngModel)]="searchDataValue"
                                                        (ngModelChange)="searchData(searchDataValue)"
                                                        class="form-control form-control-sm" />
                                                </div>
                                            </div>
                                            <div class="table-scroll">
                                                <table class="table table-center table-hover mb-0 datatable">
                                                    <thead>
                                                        <tr>
                                                            <th>Email</th>
                                                            <th>Name</th>
                                                            <th>Contact Number</th>
                                                            <th>Profile</th>
                                                            <th>Address</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let identity of lstIdentity; let i = index">
                                                            <td>{{identity.id}}</td>
                                                            <td>{{identity.name}}</td>
                                                            <td>{{identity.contact}}</td>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a [routerLink]="'/admin/profile'"><img
                                                                            class="me-2 rounded-circle"
                                                                            [src]="identity.image" alt="User Image"></a>
                                                                </h2>
                                                            </td>
                                                            <td>{{identity.address}}</td>
                                                            <td>
                                                                <a href="javascript:"
                                                                    class="btn btn-success btn-disable me-2">Delete</a>
                                                                <a href="javascript:" class="btn btn-disable">Reject</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" id="freelancer" class="tab-pane fade">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div class="table_header">
                                                <div class="dataTables_length">
                                                    <label for="show">
                                                        Show
                                                    </label>
                                                    <label for="entries">Entries</label>
                                                </div>
                                                <div class="dataTables_filter">
                                                    <label for="search">
                                                        Search:
                                                    </label>
                                                    <input [(ngModel)]="searchDataValue"
                                                        (ngModelChange)="searchData(searchDataValue)"
                                                        class="form-control form-control-sm" />
                                                </div>
                                            </div>
                                            <div class="table-scroll">
                                                <table class="table table-center table-hover mb-0 datatable">
                                                    <thead>
                                                        <tr>
                                                            <th>Email</th>
                                                            <th>Name</th>
                                                            <th>Contact Number</th>
                                                            <th>Profile</th>
                                                            <th>Address</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let identity of lstIdentity; let i = index">
                                                            <td>{{identity.id}}</td>
                                                            <td>{{identity.name}}</td>
                                                            <td>{{identity.contact}}</td>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a [routerLink]="'/admin/profile'"><img
                                                                            class="me-2 rounded-circle"
                                                                            [src]="identity.image" alt="User Image"></a>
                                                                </h2>
                                                            </td>
                                                            <td>{{identity.address}}</td>
                                                            <td>
                                                                <a href="javascript:"
                                                                    class="btn btn-success btn-disable me-2">Delete</a>
                                                                <a href="javascript:" class="btn btn-disable">Reject</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->