<div class="main-wrapper account-page">
    <!-- Page Content -->
    <div class="login-wrapper">
        <div class="content">
            <!-- Login Content -->
            <div class="account-content">
                <div class="align-items-center justify-content-center">
                    <div class="login-right">
                        <div class="login-header text-center">
                            <a [routerLink]="routes.home"><img src="assets/img/logo.png" alt="logo"
                                    class="img-fluid"></a>
                            <h3>Welcome! Nice to see you again</h3>
                        </div>
                        <nav class="user-tabs mb-4">
                            <ul role="tablist" class="nav nav-pills card-header-pills nav-justified">
                                <li class="nav-item">
                                    <a href="#employer" data-bs-toggle="tab" class="nav-link active mb-1">EMPLOYER</a>
                                </li>
                                <li class="nav-item me-2">
                                    <a href="#freelancer" data-bs-toggle="tab" [routerLink]="routes.freelancerLogin"
                                        class="nav-link mb-1">FREELANCER</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="tab-content pt-0">
                            <div role="tabpanel" id="employer" class="tab-pane fade active show">
                                <form (ngSubmit)="employerLogin()">
                                    <div class="input-block">
                                        <label for="email" class="focus-label">Email Address <span class="label-star">
                                                *</span></label>
                                        <input type="text" class="form-control floating"
                                            [(ngModel)]="employerLoginData.email" [ngModelOptions]="{standalone:true}"
                                            id="email">
                                    </div>
                                    <div class="input-block">
                                        <label for="password" class="focus-label">Password <span class="label-star">
                                                *</span></label>
                                        <div class="position-relative">
                                            <input [type]="password[1] ? 'text' : 'password'"
                                                class="form-control floating pass-input"
                                                [(ngModel)]="employerLoginData.password"
                                                [ngModelOptions]="{standalone:true}" id="password">
                                            <div class="password-icon" (click)="togglePassword(1)"
                                                (keydown.enter)="togglePassword(1)" tabindex="0">
                                                <span class="fas toggle-password"
                                                    [ngClass]="password[1] ? 'fa-eye' : 'fa-eye-slash'"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        class="btn btn-primary w-100 btn-lg login-btn d-flex align-items-center justify-content-center"
                                        type="submit">Login Now<i class="feather icon-arrow-right ms-2"></i></button>
                                    <div class="row">
                                        <div class="col-sm-8 dont-have d-flex  align-items-center">New to JobSupport4U<a
                                                [routerLink]="routes.register" class="ms-2">Signup?</a></div>
                                        <div class="col-sm-4 text-sm-end">
                                            <a class="forgot-link" [routerLink]="routes.forgot_password">Lost
                                                Password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" id="freelancer" class="tab-pane fade">
                                <form>
                                    <div class="input-block">
                                        <label for="email" class="focus-label">Email Address <span class="label-star"> *</span></label>
                                        <input type="text" class="form-control floating">
                                    </div>
                                    <div class="input-block">
                                        <label for="password" class="focus-label">Password <span class="label-star"> *</span></label>
                                        <div class="position-relative">
                                            <input [type]="password[1] ? 'text' : 'password'" class="form-control floating pass-input">
                                            <div class="password-icon" (click)="togglePassword(1)" (keydown.enter)="togglePassword(1)" tabindex="0">
                                                <span class="fas toggle-password" [ngClass]="password[1] ? 'fa-eye' : 'fa-eye-slash'"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary w-100 btn-lg login-btn d-flex align-items-center justify-content-center"
                                        type="submit" >Login Now<i class="feather icon-arrow-right ms-2"></i></button>
                                    <div class="row">
                                        <div class="col-sm-8 dont-have d-flex align-items-center">New to JobSupport4U
                                            <a [routerLink]="routes.register" class="ms-2">Signup?</a></div>
                                        <div class="col-sm-4 text-sm-end">
                                            <a class="forgot-link" [routerLink]="routes.forgot_password">Lost Password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <!-- /Login Content -->
        </div>
    </div>

    <!-- /Page Content -->
</div>