<div class="dashboard-sec freelance-favourites">
	<div class="page-title portfolio-title">
		<h3 class="mb-0">Portfolio</h3>
		<a class="btn btn-primary title-btn" data-bs-toggle="modal" href="#portfolio"><i class="feather icon-plus"></i> Add
			Portfolio</a>
	</div>
	<div class="pro-content">
		<div class="row row-gap">
			<div class="col-sm-6 col-lg-4">
				<div class="project-widget">
					<div class="portfolio-img">
						<img class="img-fluid" alt="User Image" src="assets/img/project-1.jpg">
						<div class="portfolio-live">
							<div class="portfolio-content">
								<a data-bs-toggle="modal" href="#portfolio-edit" class="port-icon"><i
										class="feather icon-edit-2"></i></a>
								<a href="#delete_modal" data-bs-toggle="modal" class="port-icon"><i
										class="feather icon-trash-2"></i></a>
							</div>
						</div>
					</div>
					<div class="portfolio-detail">
						<h3 class="pro-name">Razor Website Design</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="project-widget">
					<div class="portfolio-img">
						<img class="img-fluid" alt="User Image" src="assets/img/project-2.jpg">
						<div class="portfolio-live">
							<div class="portfolio-content">
								<a data-bs-toggle="modal" href="#portfolio-edit" class="port-icon"><i
										class="feather icon-edit-2"></i></a>
								<a href="#delete_modal" data-bs-toggle="modal" class="port-icon"><i
										class="feather icon-trash-2"></i></a>
							</div>
						</div>
					</div>
					<div class="portfolio-detail">
						<h3 class="pro-name">Transport Website</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="project-widget">
					<div class="portfolio-img">
						<img class="img-fluid" alt="User Image" src="assets/img/project-3.jpg">
						<div class="portfolio-live">
							<div class="portfolio-content">
								<a data-bs-toggle="modal" href="#portfolio-edit" class="port-icon"><i
										class="feather icon-edit-2"></i></a>
								<a href="#delete_modal" data-bs-toggle="modal" class="port-icon"><i
										class="feather icon-trash-2"></i></a>
							</div>
						</div>
					</div>
					<div class="portfolio-detail">
						<h3 class="pro-name">Wordpress Website</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="project-widget">
					<div class="portfolio-img">
						<img class="img-fluid" alt="User Image" src="assets/img/project-4.jpg">
						<div class="portfolio-live">
							<div class="portfolio-content">
								<a data-bs-toggle="modal" href="#portfolio-edit" class="port-icon"><i
										class="feather icon-edit-2"></i></a>
								<a href="#delete_modal" data-bs-toggle="modal" class="port-icon"><i
										class="feather icon-trash-2"></i></a>
							</div>
						</div>
					</div>
					<div class="portfolio-detail">
						<h3 class="pro-name">Mobile App</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="project-widget">
					<div class="portfolio-img">
						<img class="img-fluid" alt="User Image" src="assets/img/project-5.jpg">
						<div class="portfolio-live">
							<div class="portfolio-content">
								<a data-bs-toggle="modal" href="#portfolio-edit" class="port-icon"><i
										class="feather icon-edit-2"></i></a>
								<a href="#delete_modal" data-bs-toggle="modal" class="port-icon"><i
										class="feather icon-trash-2"></i></a>
							</div>
						</div>
					</div>
					<div class="portfolio-detail">
						<h3 class="pro-name">Healthcare Website</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="project-widget">
					<div class="portfolio-img">
						<img class="img-fluid" alt="User Image" src="assets/img/project-6.jpg">
						<div class="portfolio-live">
							<div class="portfolio-content">
								<a data-bs-toggle="modal" href="#portfolio-edit" class="port-icon"><i
										class="feather icon-edit-2"></i></a>
								<a href="#delete_modal" data-bs-toggle="modal" class="port-icon"><i
										class="feather icon-trash-2"></i></a>
							</div>
						</div>
					</div>
					<div class="portfolio-detail">
						<h3 class="pro-name">Injury Website</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul class="paginations list-pagination">
				<li class="page-item"><a href="javascript:void(0);"><i class="feather icon-chevron-left"></i></a>
				</li>
				<li class="page-item"><a href="javascript:void(0);" class="active">1</a></li>
				<li class="page-item"><a href="javascript:void(0);">2</a></li>
				<li class="page-item"><a href="javascript:void(0);">3</a></li>
				<li class="page-item"><a href="javascript:void(0);">...</a></li>
				<li class="page-item"><a href="javascript:void(0);">10</a></li>
				<li class="page-item"><a href="javascript:void(0);"><i class="feather icon-chevron-right"></i></a></li>
			</ul>
		</div>
	</div>


</div>
<!-- The Modal -->
<div class="modal fade" id="portfolio">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Add Portfolio</h4>
				<span class="modal-close"><a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times orange-text"></i></a></span>
			</div>
			<div class="modal-body">
								   
				<form>
					<div class="modal-info">
						<div class="row">
							<div class="col-md-12">
								<div class="input-block">
									<label for="title" class="form-label">Title</label>
									<input type="text" class="form-control">
								</div>
								<div class="input-block">
									<label for="link" class="form-label">Link</label>
									<input type="text" class="form-control">
								</div>
								<div class="input-block mb-0 d-flex last-group">
									<div class="w-100">
										<label for="image" class="form-label">Image</label>
										<input id="test" type="text" value="" class="form-control">
									</div>
									<label class="file-upload image-upbtn">
										Upload <input type="file" id="FileUpload1" onchange="addLink()">
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="submit-section text-end">
						<a data-bs-dismiss="modal" class="btn btn-cancel submit-btn">Cancel</a>
						<button type="button" data-bs-dismiss="modal" class="btn btn-primary submit-btn" (click)="navigation()" (keydown.enter)="navigation()" tabindex="0">Submit</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>

<!-- The Modal -->
<div class="modal fade" id="portfolio-edit">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Edit Portfolio</h4>
				<span class="modal-close"><a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times orange-text"></i></a></span>
			</div>
			<div class="modal-body">
								   
				<form>
					<div class="modal-info">
						<div class="row">
							<div class="col-md-12">
								<div class="input-block">
									<label for="title" class="form-label">Title</label>
									<input type="text" value="Portfolio Name" class="form-control">
								</div>
								<div class="input-block">
									<label for="link" class="form-label">Link</label>
									<input type="text" value="https://themeforest.net/item/tasklay-a-task-marketplace-for-freelancers/34742243" class="form-control">
								</div>
								<div class="input-block mb-0 d-flex last-group">
									<div class="w-100">
										<label for="image" class="form-label">Image</label>
										<input id="test2" type="text" value="file:///C:/Users/DreamGuys/Downloads/bird-colorful-logo-gradient-vector/7.jpg" class="form-control">
									</div>
									<label class="file-upload image-upbtn">
										Upload <input type="file" id="FileUpload" onchange="addLink()">
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="submit-section text-end">
						<a data-bs-dismiss="modal" class="btn btn-cancel submit-btn">Cancel</a>
						<button type="button" (click)="navigation()" (keydown.enter)="navigation()" tabindex="0" data-bs-dismiss="modal" class="btn btn-primary submit-btn">Save Changes</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
	
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete_modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header small-modal">
				<h4>Confirm to Delete Portfolio</h4>
				<span class="modal-close"><a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times orange-text"></i></a></span>
			</div>
			<div class="modal-body">
				<div class="modal-info">
					<p class="mb-0">Are you sure you want to delete this portfolio?</p>
				</div>
				<form>
					<div class="submit-section text-end">
						<a data-bs-dismiss="modal"  class="btn btn-cancel submit-btn">Cancel</a>
						<button type="button" (click)="navigation()" (keydown.enter)="navigation()" tabindex="0" data-bs-dismiss="modal" class="btn btn-primary submit-btn">Delete</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</div>